@import "./theme-variables.scss";

.App {
  @include themify($themes) {
    background-color: themed("colorBackground");
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
