@import "./theme-variables.scss";

.filters {
  @include themify($themes) {
    background-color: themed("colorBoxBackground");
  }
  width: 327px;
  min-height: 48px;
  padding: 0 20px;
  margin-top: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.filter_button {
  @include themify($themes) {
    color: themed("colorFilters");
  }
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.19px;
}

.filter_button.active {
  color: #3a7cfd;
}

@media (min-width: 560px) {
  .filters {
    width: 166px;
    min-height: 0;
    padding: 0;
    margin-top: 0;
    border-radius: 0;
  }

  .filter_button {
    cursor: pointer;
    transition: 0.3s;
  }

  .filter_button:hover {
    @include themify($themes) {
      color: themed("colorFiltersHover");
    }
  }

  .filter_button.active {
    cursor: initial;
  }

  .filter_button.active:hover {
    color: #3a7cfd;
  }
}
